{# button add user#}
<button class="btn btn-sm btn-default" onclick="showProfilFrom()"  style="margin-bottom: 5px;">
    <i class="glyphicon glyphicon-plus-sign"></i> Ajouter un profil
    <img src="{{ asset('img/minload.gif') }}" alt="loading" hidden="hidden" id="minload">
</button>

{# Errors Messages #}
<div class="alert alert-danger" id="flashErrorProfil" hidden="hidden"></div>

{# Liste des users #}
<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>Profil</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for profil in profils %}
        <tr>
            <td>{{ profil.id }}</td>
            <td>{{ profil.role }}</td>
            <td>{{ profil.description }}</td>
            <td class="center">
                <a class="btn btn-sm btn-success" href="#">
                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                    View
                </a>
                <a class="btn btn-sm btn-info" href="#">
                    <i class="glyphicon glyphicon-edit icon-white"></i>
                    Edit
                </a>
                <a class="btn btn-sm btn-danger" href="#">
                    <i class="glyphicon glyphicon-trash icon-white"></i>
                    Delete
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Modal #}
<!-- Modal -->
<div class="modal fade" id="frmProfilModal" tabindex="-1" role="dialog" type_operationaria-labelledby="frmProfilModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Ajouter un profil</h2>
                    <div class="box-icon">
                        <a href="#" id="close" class="btn btn-close btn-round btn-default" data-dismiss="modal" aria-hidden="true">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="box-inner">
                        <div class="box-content" id="contentModalProfil">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>