{% extends 'baseAjax.html.twig' %}
{% block title %}
    <h2><i class="glyphicon glyphicon-user"></i> Administration</h2>
{% endblock %}

{% block body %}
    <div class="box-content">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#users" onclick="_get('user_list', '', 'users')">Utilisateurs</a></li>
            <li><a href="#profil" onclick="_get('profil_list', '', 'profil')">Profil</a></li>
            <li><a href="#messages">Fournisseurs</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">

            {# Loding image #}
            {#<div id="min-loding" class="col-lg-10 col-sm-10" hidden="hidden">
                <img src="{{ asset('img/loding.gif') }}" alt="loding">
            </div>#}

            {# Content users #}
            <div class="tab-pane active" id="users" style="padding-top: 10px;">
                <script>_get('user_list','', 'users')</script>
            </div>

            {# Content Custom #}
            <div class="tab-pane" id="profil" style="padding-top: 10px;">
                <script>_get('profil_list','', 'profil')</script>
            </div>

            {# content Messages #}
            <div class="tab-pane" id="messages">
                <h3>Messages
                    <small>small text</small>
                </h3>
                <p>Sample paragraph.</p>

                <p>Your custom text.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}

