{% extends 'base.html.twig' %}
{% block navigate %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Modele</a>
            </li>
            <li>
                <a href="#">Modification</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <h1>Modification d'un Modèle de pièces</h1>
    <a class="btn btn-info btn-sm" href="{{ path('model_index') }}"><i class="glyphicon glyphicon-list"></i></a>
    <br>
    <br>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-sm btn-primary" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
{% endblock %}
