{% extends 'base.html.twig' %}
{% block navigate %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Modele</a>
            </li>
            <li>
                <a href="#">Creation</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <h1 class="page-header">Ajouter un modèle de pièces</h1>
    <a class="btn btn-sm btn-info" href="{{ path('model_index') }}"><i class="glyphicon glyphicon-list"></i></a>
    <br><br>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-sm" type="submit" value="Ajouter" />
    {{ form_end(form) }}
{% endblock %}
