{% extends 'base.html.twig' %}
{% block navigate %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Client</a>
            </li>
            <li>
                <a href="#">Creation</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <h1>Client creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
