<form id="PostEditOrderPurchProduct" role="form" method="post">
    <div class="form-group">
        <label for="exampleInput">Quantité :</label>
        {{ form_errors(form.amount) }}
        {{ form_widget(form.amount) }}
    </div>
    {{ form_widget(form._token) }}
    <button type="button" class="btn btn-success" onclick="editOrderPurchaseProduct()">Modifier</button>
    <img src="{{ asset('img/minload.gif') }}" alt="loading" id="loadingProduct" hidden="hidden">
</form>