{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail de commande d'âchat</h1>

    <table>
        <tbody class="table">
            <tr>
                <th>Numero Facture</th>
                <td>{{ orderPurchase.id }}</td>
            </tr>
            <tr>
                <th>Date commande</th>
                <td>{% if orderPurchase.dateOrder %}{{ orderPurchase.dateOrder|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}
